@media screen and (min-width: 993px) {
    .categoria div span{
        font-size: 3rem;
    }

    .container{
        flex-direction: row;
        
    }

    .secondo-box ul{
        display: block;
    }
}